[Unit]
Description=WPA supplicant daemon (interface- and wext driver-specific version)
Requires=sys-subsystem-net-devices-%i.device mnt-secret.mount
After=sys-subsystem-net-devices-%i.device mnt-secret.mount
Before=network.target
Wants=network.target

# NetworkManager users will probably want the dbus version instead.

[Service]
Type=simple
ExecStart=/usr/sbin/wpa_supplicant -c /etc/wpa_supplicant.conf -Dwext -i%I

[Install]
Alias=multi-user.target.wants/wpa_supplicant@%i.service
